body {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

h1 {
	font-size: 45px;
	font-family: Alegreya, 'Gill Sans', 'Trebuchet MS', serif;
}

h2 {
	font-family: Alegreya, 'Gill Sans', 'Trebuchet MS', serif;
}